.hero{
    width: 100%;
    display: flex;
    padding: 50px;
}
.right{
    width:50%;
    
}
.left{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width:50%;
    padding:25px;
    padding-inline-end: 155px;
    /* align-items: center; */
    justify-content: center;

}

.left1{
    width:50%;
    padding-inline-end: 185px;
}

.right1{

    width:50%;
    
}

.video{

    border-radius: 10px;
    height: 400px;
    width: 500px;
    box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);
}

.grid{
    display: grid;
    grid-row-gap: 24px;
    grid-template-columns: 120px 120px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
}
.social{
    display:flex;
    padding: 25px;
    padding-inline: 120px;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    /* gap:40px; */

}
.mt-icons{
    display:flex;
    /* gap: 15px; */
    padding:65px;
    justify-content: space-around;
    align-items: center;
    /* margin-top:80px; */
}

.tag{
    width:307px;
    height:155px;
    font-size: 20px;
}
.feature{
    width:508px;
    height:430px;
    border-radius: 10px;

}
.summaries{
    padding:85px;
}
.left1_{
    width:40%;
    padding-inline-end: 65px;
}
.left2_{
    width:70%;
    padding-inline: 65px;
}