.socialIcon{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:25px;
    /* padding:55px; */
    padding-inline:427px;
    
}